body {
    padding: 0px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    .header-container {
        .navbar {
            position: relative;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0) !important;
            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }
}

video {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
